<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\log\sharptask\internal-nlog.log">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add task="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File"
                name="LogFile"
                fileName="c:\log\sharptask\cli.log"
                archiveFileName="c:\log\sharptask\cli-{#}.log"
                archiveNumbering="Date"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="14"
                concurrentWrites="false"
                keepFileOpen="true"
                openFileCacheTimeout = "30">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
        <target xsi:type="Console"
                name="Console"
                layout="${longdate} ${level} ${message}"
                detectConsoleAvailable="true" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="SharpTask.*" minlevel="Debug" writeTo="LogFile" />
        <logger name="SharpTask.*" minlevel="Debug" writeTo="Console" />
        <logger name="*" minLevel="Error" writeTo="LogFile" />
    </rules>
</nlog>